In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://grg82838:PW9Jsi1IGR7ZqEtT@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB?security=SSL

'Connected: grg82838@BLUDB'

### problem 1

In [5]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA;

 * ibm_db_sa://grg82838:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(533,)]

### problem 2

In [27]:
%%sql SELECT community_area_number, community_area_name, per_capita_income
FROM CENSUS_DATA
WHERE per_capita_income < 11000;

 * ibm_db_sa://grg82838:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(26, 'West Garfield Park', 10934),
 (30, 'South Lawndale', 10402),
 (37, 'Fuller Park', 10432),
 (54, 'Riverdale', 8201)]

### problem 3

In [28]:
%%sql select case_number, description 
FROM CHICAGO_CRIME_DATA 
WHERE description LIKE '%MINOR%'

 * ibm_db_sa://grg82838:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

### problem 4

In [25]:
%%sql SELECT case_number, date, primary_type, description 
FROM CHICAGO_CRIME_DATA 
WHERE primary_type like '%KIDNAPPING%'

 * ibm_db_sa://grg82838:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('HN144152', datetime.date(2007, 1, 26), 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### problem 5

In [24]:
%%sql SELECT DISTINCT(primary_type),location_description 
FROM CHICAGO_CRIME_DATA 
WHERE location_description LIKE '%SCHOOL%'

 * ibm_db_sa://grg82838:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('PUBLIC PEACE VI', 'SCHOOL, PRIVATE, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('PUBLIC PEACE VI', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPA', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS')]

### problem 6

In [58]:
%%sql SELECT elementary__middle__or_high_school , AVG(safety_score) AS AVG_SAFETY_SCORE
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY elementary__middle__or_high_school;

 * ibm_db_sa://grg82838:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### problem 7

In [57]:
%%sql SELECT community_area_number, community_area_name, percent_households_below_poverty
FROM CENSUS_DATA
ORDER BY percent_households_below_poverty DESC FETCH FIRST 5 ROWS ONLY;

 * ibm_db_sa://grg82838:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(54, 'Riverdale', Decimal('56.5')),
 (37, 'Fuller Park', Decimal('51.2')),
 (68, 'Englewood', Decimal('46.6')),
 (29, 'North Lawndale', Decimal('43.1')),
 (27, 'East Garfield Park', Decimal('42.4'))]

### problem 8

In [70]:
%%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(COMMUNITY_AREA_NUMBER) AS FREQ 
FROM CHICAGO_CRIME_DATA
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
LIMIT 1;

 * ibm_db_sa://grg82838:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(25, 43)]

### problem 9

In [71]:
%%sql SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX
FROM CENSUS_DATA
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA)

 * ibm_db_sa://grg82838:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('Riverdale', 98)]

### problem 10

In [78]:
%%sql SELECT COMMUNITY_AREA_NAME
FROM CENSUS_DATA 
WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA
                               GROUP BY COMMUNITY_AREA_NUMBER 
                               ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1)

 * ibm_db_sa://grg82838:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('Austin',)]